.topnav {
  display:flex;
  justify-content: space-between ;
  align-items: center ;
  background-color: #baccec;
  padding: 15px 40px;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
}

.topnav h1 {
  color: #38bdf8;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.topnav ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
  gap: 25px;
  font: 100%/1.5 "Inter", sans-serif;
  background: rgba(0, 0, 0, 0.8);
}

.topnav li {
  margin-left: 25px;
}

.topnav a:hover {
  color: #38bdf8;
  text-shadow: 0 0 8px rgba(56, 189. 248, 0.7);
}


.topnav a {
  color: #e0f2fe;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background : #0f172a;
  color : #e2e8f0;
}

.content {
  padding: 30px;
}

.page-header h1 {
  margin: 0;
  font-size: 28px;
  color:#38bdf8;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.page-header p {
  margin-top: 5px;
  color: #94a3b8;
  font-size: 14px;
}

.filters {
  margin: 0;
  display: flex;
  gap: 15px;
}

.filters select, 
.filters button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
}

.filters select {
  background: #1e293b;
  color: #e2e8f0
}

.filters button {
  background: #38bdf8;
  color: #0f172a;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.filters button:hover {
  background: #0ea5e9;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.map-container {
  background: linear-gradient(145deg, #1e293b, #0f172a);
  padding: 20px;
  border-radius: 12px;
}

.map-container h2 {
  margin-bottom : 10px
}

#map {
  height: 400px;
  width: 100%;
  background: #0f172a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #64748b
}

.reports {
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, #1e293b, #020617);
  padding:20px;
  border-radius: 12px;
  gap: 12px;
}

.reports h2 {
  margin-bottom: 15px;
}

.report-card {
  background: #0f172a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  border-left: 3px solid #38bdf8;
}

.report-card h3 {
  margin: 0%;
  color: #38bdf8;
}

.report-card P {
  margin: 5px 0;
  color: #cbd5f5;
}

.report-card span {
  font-size: 12px;
  color: #64748b;
}

.report-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.2);
}

.map-container, .reports {
  box-shadow: 0 0 20px rgba(56,189,248,0.08);
  backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

.modal { 
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 10px auto;
}